<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AimieSmiles</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F2D7D59DBB3E53FBC1B7D900B5DF143013A80AD5</string>
				<key>dateExpires</key>
				<string>11/10/2022</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AimieSmiles.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>64LV943Y52</string>
				<key>name</key>
				<string>David Garces</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
